

.container{
    display: flex;
    flex-flow: row wrap;
}

.frijole{
    font-family: frijole;
}

.column{
    flex-direction: column;
}

.bg-red{
    background-color: red;
}

.bg-azure{
    background-color: azure;
}

.bg-gold{
    background: rgb(223,201,4);
    background: linear-gradient(90deg, rgba(223,201,4,1) 1%, rgba(222,217,177,1) 21%, rgba(255,246,163,1) 59%, rgba(224,204,23,1) 100%);
}

.bg-parchment{
    background-image: url("parchment.jpg");
    background-color: white;

}
.fgm{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg-main{
    background-image: url("background.webp");
    background-color: white;
    background-size: cover;

}

.shadow-grey{
    box-shadow: gray 5px 5px 10px;
}

.hover-azure:hover{
    background-color: rgb(240, 255, 255)
}
.border{
    border: 2px solid black;
}

.fb-quarter{
    flex-basis: calc(25% - 4px);
}

.fb-half{
    flex-basis: calc(50% - 4px);
}

.fb-threequarters{
    flex-basis: calc(75% - 4px);
}

.tag-hover:hover{
    transform: scale(1.2, 1.2);
}

.fb-third{
    flex-basis: calc((100% / 3) - 4px);
}

.fb-twothird{
    flex-basis: calc((100% / 3) * 2 - 4px);
}

.jc-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.border-tag{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

@media(max-width: 962px){
    .column962{
        flex-direction: column;
    }

    .row962{
        flex-direction: row;
    }
    
    .fb80-962{
        flex-basis: 80%;
    }

    .fbfull-962{
        flex-basis: calc(100% - 20px);
    }

    .height-962{
        height: 200px !important;

    }

    .mheight-962{
        height: 1200px !important;
    }


}

@media(max-width: 742px){
    .column742{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .font-942{
        font-size: 20px !important;
    }

    .row742{
        flex-direction: row;
    }

    .fb80-742{
        flex-basis: 80% !important;
    }

    .height-742{
        height: 150px !important;
    }

    .jc742{
        justify-content: center;
    }

    .mb742{
        margin-bottom: 10px;
    }

    .mb2-742{
        margin-bottom: 20px;
    }
}